* {
  box-sizing: border-box;
  font-family: "Raleway", Arial;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 120px;
  width: 100%;
  padding: 40px;
  background-color: #ff8000;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.headerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  background-color: white;
  color: #56504b;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.mainContent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

main a {
  color: #000000;
  word-break: break-word;
}

footer {
  height: 200px;
  width: 100%;
  background-color: #5f5c56;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

.footerContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 18px;
}

@media (max-width: 1280px) {
}

@media (max-width: 768px) {
  .headerContent {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  footer {
    height: 160px;
  }

  .footerContent {
    padding: 0 16px;
    gap: 16px;
    font-size: 16px;
  }
}
